/*code fluency page-specific styling*/

/******topic 02-javascript-objects.html styling*********/
.genre {
	color: red;
	font-size: 10px;
	font-style: italic;
	font-weight: 600;
}

.basic-button {
	width: 20%;
	height: 20px;
	font-size: 80%;
	border-radius: 20px;
	background-color: orange;
}

#movieform {
	margin-bottom: 80px;
	margin-top: -90px;
}

.form-border {
    border-radius: 5px;
	/*width:65%;*/
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightcyan;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

/******topic 07-css3-using-javascript.html styling*********/
.wrapper {
	margin-top: 2px;
	display: -webkit-flex;
	display: flex;
}

.css-manipulation {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: -75px;
}

.left-column {
	padding: 1px 1px 1px 1px;
}

.right-column {
	padding: 1px 1px 1px 1px;
	margin-bottom: 70px;
}

button:hover {
	background-color: #52bbc7;
	color: white;
}

#kim-and-girls {
	border-radius: 10px;
	width: 50%;
	margin-left: 20px;
}

#assignment-landing07 {
	margin-bottom: 0px;
}

/******topic 08-EXPANDED-css3-transit-anim-trans.html styling*********/
.magic-content {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 1200ms ease-in-out;
	margin-left: 15px;
}

.magic-content.is-visible {
	display: block;
	height: auto;
	margin-bottom: 90px;
}

#change, #watch {
	margin-left: 15px;
	font-size: 15px;
	font-weight: 600;
}


span {
	font-weight: 600;
	color: fuchsia;
}


/******topic 11-pure-css3-transitions.html styling*********/
#transition {
	background: orange;
	transition: linear 3s;
}

#transition:hover {
	background: #69BE28;
}


#spin {
	background: button;
	transition: 3s;
}

#spin:hover {
	transform: rotateY(180deg);
	background-color: gold;
	padding: 100px;
}

#size {
	background: #2c7e87;
}

#size:hover {
	background: #1C8B85;
	transform: scale(0.2);
	transition: all 5s ease-in-out;
}


#box-button {
	width: 100px;
    height: 100px;
	margin: 10px;
	border-radius: 0px;
    background-color: saddlebrown;
	animation-name: box-button;
  	animation-duration: 7s;
}


@keyframes box-button {
	from {background-color: skyblue;}
  	to {background-color: darkgreen;}
}

/*global Topics styling*/

#assignment-landing {
	padding: 0px;
	margin-bottom: 100px;
}

#footer ul {
	margin-top: -40px;
}


button {
	width: 35%;
	height: 80px;
	font-size: 100%;
	border-radius: 20px;
	margin: 4px;
	background-color: #86af49;
}

h2 {
	margin: 15px;
	font-size: 18px;
}