/*code fluency page-specific styling*/

.wrapper {
	margin-top: 2px;
	display: -webkit-flex;
	display: flex;
}

.css-manipulation {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.left-column {
	padding: 1px 1px 1px 1px;
}

.right-column {
	padding: 1px 1px 1px 1px;
	margin-bottom: 70px;
}


button:hover {
	background-color: #52bbc7;
	color: white;
}

#kim-and-girls {
	border-radius: 10px;
	width: 50%;
	margin-left: 20px;
}

button {
	width: 35%;
	height: 80px;
	font-size: 100%;
	border-radius: 20px;
	margin: 4px;
	background-color: #86af49;
}

#footer ul {
    margin-top: -70px;
}

