/*======PRODUCTION CSS FILE==========*/



@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Karma');

/*==========BODY  ALL PAGES========*/
body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Karma', serif;
    font-size: 1em;
    background-color: #f3ddb9;
    margin-top: 10px;
}

body p {
	margin-left: 15px;
}

body h3 {
	margin-left: 15px;
}

/*========HEADER ALL PAGES========*/

header {
    background-color: #52bbc7;
    margin-top: 10px;
}


#title {
    width: 100%;
    margin: auto;
    text-align: center;
}

header h1 {
    font-size: 25px;
}

header h3 {
    color: #000;
    font-family: 'Cookie', cursive;
    text-indent: -28px;
    margin: -6px 0px -15px 30px;
    font-size: 60px;
    font-weight: 500;
}


/*==========NAV-MAIN  ALL PAGES========*/

nav {
    width: 100%;
}

nav ul {
    padding: 5px;
    background-color: #977360;
}

nav li {
    display: inline-block;
    margin: auto;
    width: 19%;
    text-align: center;
    font-family: 'Karma', serif;
}

#menu {
    display: none;
}

#toggle:checked ~ #menu {
    display: block;
}



/*==========NAV-LINK ALL PAGES========*/

nav li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

nav li a:link {
    color: #fff;
}

nav li a:visited {
    color: #fbf4e9;
    text-decoration: underline;
    font-style: italic;
}

nav li a:hover {
    color: #52bbc7;
    text-decoration: underline;
    font-style: italic;
}

nav li a:active {
    color: #f1840d;
    text-decoration: underline;
    font-style: italic;
}



/*================MAIN================*/

main {
    height: auto;
}


#container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    align-items: center;
    /*padding: 2%;*/
    padding: 0 6% 20% 2%;
    height: auto;
}

.img {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: auto;
}


.text {
    padding-right: 10%;
    width: 100%;
    height: auto;
}


h3 {
    color: #000;
    font-family: 'Cookie', cursive;
	margin-left: 15px;
}


h1,
h2 {
    color: #000;
    font-family: 'Karma', serif;
}


h3::first-letter {
    font-size: 120%;
}

h2::first-letter {
    font-size: 120%;
}

container {
    height: auto;
}

.container-text {
    padding-bottom: 10%;
    margin: auto;
    height: auto;
}


/*===========W04 Code Fluency==========*/
/*===Use JavaScript to change CSS====*/


/*==========ASSIGNMENTS LANDING==========*/
#assignment-landing {
    padding: 0px;
    /*margin-bottom: 100px;*/
}

#assignment-landing h1 {
    margin: 0px;
    font-size: 30px;
    margin: 30px 5px 5px 15px;
    font-family: 'Karma', serif;
    font-weight: 800;
}

#assignment-landing h3 {
    margin-left: 15px;
}

#assignment-landing p {
    margin-left: 15px;
}

#assignment-landing ul {
    margin: 0px;
}


#assignment-landing li a {
    text-decoration: underline;
    font-weight: 500; 
    color: #977360;
    padding: 1%;
}

#assignment-landing li {
     padding: 2px;
     list-style-type: none;
}

/*#assignment-landing li a:visited {
    color: #2c7e87;
}*/


#assignment-landing li a:hover {
    color: #52bbc7;
}

#assignment-landing li a:active {
    color: #000;
}

#assignment-landing li a:nth-child(even) { 
    color: #52bbc7;
    background: yellow;
}



/*==========FOOTER STYLE- ALL PAGES========*/
footer {
    padding-bottom: 40px;
    background-color: #52bbc7;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

#footer ul {
    background-color: #977360;
    font-size: 24px;
    font-weight: 500;
    color: #F0F8FF;
	margin-top: 50px;
}

footer ul p {
    text-align: center;
    font-weight: 600;
}

footer ul li {
    display: inline-block;
    margin: auto;
    font-family: 'Karma', serif;
    font-size: 1em;
    font-weight: bold;
}

footer li a {
    text-decoration: none;
    padding: 20px;
    color: #f1840d;
}

footer li a:visited {
    color: #F0F8FF;
    text-decoration: underline;
    font-style: italic;
}

footer li a:hover {
    color: #283e1a;
    text-decoration: underline;
    font-style: italic;
}

footer li a:active {
    color: #e221b0;
    text-decoration: underline;
    font-style: italic;
}

footer p {
    display: inline-block;
    font-family: 'Karma', serif;
    margin: 10px;
}


.form-horizontal {
    background-color: #f3ddb9;
}

/*FOR LARGE SCREEN DISPLAY*/
/*Media Query - regular/desktop view applied when the screen is large*/
@media (min-width: 530px) {
    nav label,
    #toggle {
        display: none;
    }

    #toggle:not(:checked) ~ #menu {
        display: block;
    }

    #menu li {
        display: inline-block;
    }

    #container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 5%;
        align-items: center;
    }

    .img {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-bottom: 10%;
        margin: auto;
        height: auto;
    }
    
    .container-img {
        margin-top: 2px;
    }

    .text {
        padding-right: 10%;
    }


    nav li:nth-child(3) {
        margin-left: 15px;
    }

    footer {
        height: 90px;
    }

    footer ul {
        margin-top: -80px;
    }

    footer li a {
        font-size: .9em;
    }

    footer p {
        font-size: .7em;
        padding: 0px;
        margin-bottom: 5px;
    }

    #copy,
    #kim,
    byui {
        font-size: .8em;
        padding: 5px;
    }

    #copy {
        color: #228b22;
        margin: 20px 30px -80px 40px;
    }

    #kim {
        color: blue;
        margin: 25px 25px -80px -25px;
    }

    #byui {
        color: deeppink;
        font-size: .8em;
        margin: 25px 25px -80px -10px;
    }
}


/*SMALL SCREEN VIEW*/
/* Media Query - mobile view styling*/
/***snap menu background-color = dark green***/
@media screen and (max-width: 530px) {
    nav label {
        background-color: #86af49;
        color: #fff;
        padding: 10px;
        text-align: center;
        display: block;
        margin: 20px 0 0 0;
    }

    nav li {
        display: block;
        text-align: center;
        width: 100%;
    }

    nav li a {
        padding: 10px 0px;
        margin: 0px;
        width: 100%;
        font-size: 15px;
    }
    
    #container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0px;
    }
    
    .img {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        }

    .text {
        padding: 2%;
    }

   #text {
        display: flex;
        font-size: .2em;
        margin-left: 2px;
        padding: 2%;
        width: 100%;
        height: auto;
    }

    footer {
        height: 90px;
    }

    footer ul {
        margin-top: -80px;
        height: 45px;
    }

    footer li a {
        font-size: .6em;
    }

    footer p {
        font-size: .5em;
        padding: 5px;
    }

    nav input {
        display: none;
    }
}
